/*
  This software is copyright Kong Inc. and its licensors.
  Use of the software is subject to the agreement between your organization
  and Kong Inc. If there is no such agreement, use is governed by and
  subject to the terms of the Kong Master Software License Agreement found
  at https://konghq.com/enterprisesoftwarelicense/.
*/

.pagination[data-v-838dbb3e]{display:-webkit-box;display:-ms-flexbox;display:flex;margin-top:16px;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between}.pagination button[data-v-838dbb3e]{font-size:14px;padding:4px 8px}.pagination button[data-v-838dbb3e]:nth-child(2){margin-left:auto}
